h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: var(--title-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: .8em;
}

.nuxt-content p {
  text-align: justify;
  padding: 8px 0;
}

.nuxt-content a {
  color: inherit;
  text-decoration: underline dotted;
}

.nuxt-content a:hover {
  text-decoration: underline;
  filter: brightness(.25);
}
